<div
  class="w-full mx-auto max-w-sm overflow-hidden 
    shadow-[0_0_15px_rgba(59,130,246,0.5)] hover:shadow-[0_0_30px_rgba(59,130,246,0.8)]
    dark:shadow-[0_0_15px_rgba(29,78,216,0.5)] dark:hover:shadow-[0_0_30px_rgba(29,78,216,0.8)] 
    rounded-2xl  transition-all duration-300 ease-in-out  hover:scale-105 bg-white dark:bg-gray-800 border border-blue-100 dark:border-blue-900">
  <div class="relative group" routerLink="/products/{{categoryName}}/{{product._id}}">
    <img class="w-full h-64 object-cover transition-transform duration-300 group-hover:scale-110 "
      [src]="product.mainImage.url" alt="product image Loading..." />
    <!-- <div
            class="absolute inset-1 bg-gradient-to-t from-black/60 to-transparent opacity-0 group-hover:opacity-100 transition-opacity duration-300">
        </div> -->
  </div>

  <div class="p-6 relative">
    <div
      class="absolute top-0 right-0 -mt-4 -mr-4 w-24 h-24 bg-blue-200 opacity-30 rounded-full transform rotate-45 dark:bg-blue-700">
    </div>

    <div routerLink="/products/{{categoryName}}/{{product._id}}" class="relative">
      <h5 class="text-xl font-bold tracking-tight text-gray-900 dark:text-white mb-2">{{product.name}}</h5>
    </div>

    <div class="flex items-center justify-between mb-4 relative"
      routerLink="/products/{{categoryName}}/{{product._id}}">
      <div class="flex items-center space-x-2">
        <h5 class="text-sm font-semibold text-gray-600 dark:text-gray-300">Stock:</h5>
        <span
          class="bg-blue-100 text-blue-800 text-xs font-bold px-2.5 py-0.5 rounded-full dark:bg-blue-900 dark:text-blue-200">
          {{product.stock}}
        </span>
      </div>
    </div>

    <div class="flex items-center justify-between relative">
      <span routerLink="/products/{{categoryName}}/{{product._id}}"
        class="text-3xl font-extrabold text-blue-600 dark:text-blue-400">₹{{product.price}}</span>
      <button (click)="addtoCart(product)"
        class="text-white bg-gradient-to-r from-blue-500 to-indigo-600 hover:from-blue-600 hover:to-indigo-700 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-full text-sm px-5 py-2.5 text-center transition-all duration-300 ease-in-out transform hover:scale-105 dark:focus:ring-blue-800">
        Add to cart
      </button>
    </div>
  </div>
</div>