<ng-container *ngIf="$data | async as data">
    <div class="flex min-h-full flex-col justify-center px-6 py-12 lg:px-8 dark:bg-black">
        <div class="sm:mx-auto sm:w-full sm:max-w-sm">
            <img class="mx-auto h-10 w-auto" src="https://flowbite.com/docs/images/logo.svg" alt="Your Company">
            <h2 class="mt-10 text-center text-2xl font-bold leading-9 tracking-tight text-gray-900 dark:text-white">Sign
                in to your
                account
            </h2>
        </div>

        <div class="mt-10 sm:mx-auto sm:w-full sm:max-w-sm ">
            <form class="space-y-6 border border-dashed border-slate-300 px-8 py-8 rounded-lg" [formGroup]="form">
                <div>
                    <label for="username"
                        class="block text-sm font-medium leading-6 text-gray-900 dark:text-white">Username</label>
                    <div class="mt-2">
                        <input id="username" name="username" type="username" autocomplete="username" required
                            formControlName="username"
                            class="block w-full  px-3 rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-blue-600 sm:text-sm sm:leading-6">

                    </div>
                </div>

                <div>
                    <div class="flex items-center justify-between">
                        <label for="password"
                            class="block text-sm font-medium leading-6 text-gray-900 dark:text-white">Password</label>
                        <div class="text-sm">
                            <a class=" font-semibold text-blue-600 hover:text-blue-500  hover:underline cursor-pointer"
                                data-popover-target="popover-image" data-popover-placement="top"
                                (mouseover)="showPopover()" (mouseleave)="delayedHidePopover()"  >Forgot Password?</a>
                        </div>
                    </div>
                    <div *ngIf=" isPopoverVisible" id="popover-image" role="tooltip"
                        class="absolute z-10 inline-block text-sm text-gray-500 transition-opacity duration-300 bg-white border border-gray-200 rounded-lg shadow-sm w-96 dark:text-gray-400 dark:bg-gray-800 dark:border-gray-600"
                        (mouseover)="showPopover()" (mouseleave)="hidePopover()">
                        <div
                            class="p-4 space-y-4 bg-white border border-gray-200 rounded-lg shadow-sm dark:bg-black dark:border-gray-600">
                            <h3 class="text-lg font-semibold text-gray-900 dark:text-white">Reset Password</h3>
                            <p class="text-sm text-gray-500 dark:text-gray-400">Enter your email address to receive a
                                password reset link.</p>
                            <div class="flex space-x-2">
                                <input type="text" [formControl]="email"
                                    class="flex-1 p-2 border border-gray-300 rounded-l-lg focus:ring focus:ring-blue-200 focus:border-blue-500 dark:bg-black dark:border-gray-600 dark:text-white"
                                    placeholder="Enter your email">
                                <button (click)="forgotPassword()"
                                    class="p-2 font-semibold text-white bg-blue-600 rounded-r-lg hover:bg-blue-700 dark:bg-blue-700 dark:hover:bg-blue-600">Submit</button>
                            </div>
                        </div>


                        <div data-popper-arrow></div>
                    </div>

                    <div class="mt-2">
                        <input id="password" name="password" type="password" autocomplete="current-password" required
                            formControlName="password"
                            class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-blue-600 sm:text-sm sm:leading-6">
                    </div>
                </div>

                <div>
                    <button [disabled]="data.isSubmitting$" (click)="onSubmit()"
                        class="flex w-full justify-center rounded-md bg-blue-700 px-3 py-1.5 text-sm font-semibold leading-6 text-white shadow-sm hover:bg-blue-600 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus:outline-blue-600">Sign
                        in</button>
                </div>
            </form>
            <!-- <p-toast /> -->
            <p class="mt-10 text-center text-sm text-gray-500">
                Don't have an account ?
                <a href="#" class="font-semibold leading-6 text-blue-700 hover:text-blue-500"
                    routerLink="/register">Register Here !</a>
            </p>
        </div>
    </div>
</ng-container>