<div class="space-y-4 py-10">
    <h2 class="text-xl font-semibold text-gray-900 dark:text-white">Delivery Details</h2>

    <div class="grid grid-cols-1 gap-4 sm:grid-cols-2" [formGroup]="form">
        <div>
            <label for="address1" class="mb-2 block text-sm font-medium text-gray-900 dark:text-white">
                Address Line 1 </label>
            <input type="text" id="address1" formControlName="addressLine1"
                class="block w-full rounded-lg border border-gray-300 bg-gray-50 p-2.5 text-sm text-gray-900 focus:border-primary-500 focus:ring-primary-500 dark:border-gray-600 dark:bg-gray-700 dark:text-white dark:placeholder:text-gray-400 dark:focus:border-primary-500 dark:focus:ring-primary-500"
                placeholder="Address" required />
        </div>

        <div>
            <label for="address2" class="mb-2 block text-sm font-medium text-gray-900 dark:text-white">
                Address Line 2
            </label>
            <input type="text" id="address2" formControlName="addressLine2"
                class="block w-full rounded-lg border border-gray-300 bg-gray-50 p-2.5 text-sm text-gray-900 focus:border-primary-500 focus:ring-primary-500 dark:border-gray-600 dark:bg-gray-700 dark:text-white dark:placeholder:text-gray-400 dark:focus:border-primary-500 dark:focus:ring-primary-500"
                placeholder="Address" required />
        </div>
        <div>
            <label for="city" class="mb-2 block text-sm font-medium text-gray-900 dark:text-white">
                City
            </label>
            <input type="text" id="city" formControlName="city"
                class="block w-full rounded-lg border border-gray-300 bg-gray-50 p-2.5 text-sm text-gray-900 focus:border-primary-500 focus:ring-primary-500 dark:border-gray-600 dark:bg-gray-700 dark:text-white dark:placeholder:text-gray-400 dark:focus:border-primary-500 dark:focus:ring-primary-500"
                placeholder="City" required />
        </div>
        <div>
            <label for="State" class="mb-2 block text-sm font-medium text-gray-900 dark:text-white">
                State
            </label>
            <input type="text" id="State" formControlName="state"
                class="block w-full rounded-lg border border-gray-300 bg-gray-50 p-2.5 text-sm text-gray-900 focus:border-primary-500 focus:ring-primary-500 dark:border-gray-600 dark:bg-gray-700 dark:text-white dark:placeholder:text-gray-400 dark:focus:border-primary-500 dark:focus:ring-primary-500"
                placeholder="State" required />
        </div>
        <div>
            <label for="Country" class="mb-2 block text-sm font-medium text-gray-900 dark:text-white">
                Country
            </label>
            <input type="text" id="Country" formControlName="country"
                class="block w-full rounded-lg border border-gray-300 bg-gray-50 p-2.5 text-sm text-gray-900 focus:border-primary-500 focus:ring-primary-500 dark:border-gray-600 dark:bg-gray-700 dark:text-white dark:placeholder:text-gray-400 dark:focus:border-primary-500 dark:focus:ring-primary-500"
                placeholder="Country" required />
        </div>
        <div>
            <label for="Pin" class="mb-2 block text-sm font-medium text-gray-900 dark:text-white">
                Pincode
            </label>
            <input type="number" id="State" formControlName="pincode"
                class="block w-full rounded-lg border border-gray-300 bg-gray-50 p-2.5 text-sm text-gray-900 focus:border-primary-500 focus:ring-primary-500 dark:border-gray-600 dark:bg-gray-700 dark:text-white dark:placeholder:text-gray-400 dark:focus:border-primary-500 dark:focus:ring-primary-500"
                placeholder="Pincode" required />
        </div>
        <div class="sm:col-span-2">
            <button (click)="onSubmit()"
                class="flex w-full items-center justify-center gap-2 rounded-lg border border-gray-200 bg-white px-5 py-2.5 text-sm font-medium text-gray-900 hover:bg-gray-100 hover:text-primary-700 focus:z-10 focus:outline-none focus:ring-4 focus:ring-gray-100 dark:border-gray-600 dark:bg-gray-800 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white dark:focus:ring-gray-700">
                Add Address
                <svg class="h-5 w-5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                    fill="none" viewBox="0 0 24 24">
                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                        d="M5 12h14m-7 7V5" />
                </svg>
            </button>
        </div>
    </div>
</div>